.auth-page {
  min-height: 82vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-color);
  padding: 2rem;
}

.auth-container {
  background: var(--white);
  border-radius: 12px;
  box-shadow: var(--shadow-md);
  width: 100%;
  max-width: 400px;
  padding: 2rem;
}

.auth-header {
  text-align: center;
  margin-bottom: 2rem;
}

.auth-header h2 {
  color: var(--primary-dark);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}


.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group label {
  color: var(--text-color);
  font-weight: 500;
  font-size: 0.95rem;
}
.form-group input {
  width: 100%;
  padding: 0.8rem 0.1rem 0.8rem 0.5rem; /* Adjust these values to make inputs smaller */
  border: 1px solid var(--text-light);
  border-radius: 8px;
  font-size: 1rem;
  transition: var(--transition);

  
}

.form-group input:focus {
  outline: none;
  border-color: var(--accent-color);
  box-shadow: 0 0 0 2px rgba(0, 180, 216, 0.2);
}



.auth-btn:hover {
  background-color: var(--primary-dark);
}

.auth-footer {
  text-align: center;
  color: var(--text-light);
  font-size: 0.95rem;
  margin-top: 1rem;
}

.auth-link {
  color: var(--accent-color);
  font-weight: 600;
  text-decoration: none;
  transition: var(--transition);
  margin-left: 0.3rem;
}

.auth-link:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 480px) {
  .auth-container {
    padding: 1.5rem;
  }
  
  .auth-header h2 {
    font-size: 1.5rem;
  }
}